# Sistema de Volante Virtual - Dependencias

# Computer Vision
opencv-python>=4.12.0
mediapipe>=0.10.21

# Deep Learning
tensorflow==2.20.0
keras>=3.12.0

# Data Processing
numpy>=2.3.4
scikit-learn>=1.7.2

# Utilities
pickle5>=0.0.11
